{% extends 'base.html' %}

{% block detail %}
<div class="row">
  <div class="col-lg-12 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      From the Firehose
    </h3>

    <div class="blog-post">
      <p class="blog-post-meta">{{ object.creation_date|date:"M d. " }} {% for tag in object.tags.all %}
	<a href="{% url 'article_list_by_tag' tag=tag.keyword %}">{{ tag|capfirst }} </a>{% endfor %}
      </p>
      {{ object.content|safe }}
      
      <img class="card-img-right flex-auto d-none d-md-block" src="{{ article.image.url }}" alt="">

  </div><!-- /.blog-main -->

</div><!-- /.row -->
{% endblock detail %}
