{% extends 'base.html' %}

{% block jumbo %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">{{ article_list.first.title|capfirst }}</h1>
    <p class="lead my-3">{{ article_list.first.content|safe|truncatewords:33 }}</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>
{% endblock jumbo %}

{% block article_list %}
<div class="row mb-2">
  {% for article in object_list %}
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 overflow-hidden">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">
	{{ article.tags.all|join:", " }}
	</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="{% url 'article_detail' slug=article.slug %}">{{ article.title|capfirst }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ article.creation_date|date:"M d" }}</div>
        <p class="card-text mb-auto">{{ article.content|safe|truncatewords:16 }}</p>
        <a href="{% url 'article_detail' slug=article.slug %}">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" src="{{ article.image_thumbnail.url }}" alt="Card image cap">
    </div>
  </div>
  {% endfor %}
</div>
{% endblock article_list %}
